textarea { 
    margin: 50px;
    width: 700px;
    height: 300px;
    color: white;
    border: 1px solid aquamarine;
    padding: 15px;
    outline: none;
    background-color: transparent;
}

.previewer { 
    border: 2px solid black;
    margin: 0px auto;
    width: 900px;
    height: auto;
    scroll-behavior: auto;
}